* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
}

.app,ul {
  margin-top: 50px;
  width: 50%;
  background-color: rgb(194, 223, 240);
  border: solid rgb(73, 174, 214);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pokeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 1px;
  background-color: rgb(224, 231, 235);
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.pokeCard,.info {
  margin-left: 3px;
}